<div class="maincontainer">
  <mat-card>
      <mat-card-content class="content">
          <div class="header">
              Sign up
          </div>
          <div class="sub-header">
              Create your Account
          </div>
          <form>
              <input type="text" placeholder="Name">
              <input type="text" placeholder="Email address">
              <input type="text" placeholder="Password">
              <mat-slide-toggle color="primary" class="toggle-switch">I agree to the Terms and Privacy</mat-slide-toggle>
              <div class="registerbtn">
                  <button>
                      <img src="../../../assets/add.svg">
                      Register
                  </button>
              </div>
              <div class="signin">
                  Have an account?
                  <a routerLink="/login">Sign in!</a>
              </div>
          </form>
      </mat-card-content>
  </mat-card>
</div>