<div class="maincontainer">
  <mat-card>
      <mat-card-content class="content">
          <div class="header">
              Sign up
          </div>
          <div class="sub-header">
              Create your Account
          </div>
          <form [formGroup]="registerForm" (ngSubmit)="register()">
            <mat-form-field appearance="outline" class="longfield">
                <mat-label>Name</mat-label>
                <input matInput type="text" placeholder="Name"  formControlName="firstName">
                <mat-error>First name is required</mat-error>
            </mat-form-field>
            
            <mat-form-field appearance="outline">
                <mat-label>Email address</mat-label>
                <input  matInput type="text" placeholder="Email address" formControlName="email">
                <mat-error>email is required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input  matInput type="password" placeholder="Password" formControlName="password">
                <mat-error>password is required</mat-error>
            </mat-form-field>
             
              
              
              <mat-slide-toggle color="primary" class="toggle-switch">I agree to the Terms and Privacy</mat-slide-toggle>
              <mat-slide-toggle  color="primary"  class="toggle-switch" (change)="changed($event)">Are you Doctor?</mat-slide-toggle>
              <div class="registerbtn">
                  <button>
                      <img src="../../../assets/add.svg">
                      Register
                  </button>
              </div>
              <div class="signin">
                  Have an account?
                  <a routerLink="/login">Sign in!</a>
              </div>
          </form>
      </mat-card-content>
  </mat-card>
</div>