<div class="main">
    <div class="form_box">
      <div class="row" style="font-weight:500">
        <p style="font-size: 30px ; color: #000307">S</p>
        <p style="font-size: 30px ; color: #000307">i</p>
        <p style="font-size: 30px ; color: #000307">g</p>
        <p style="font-size: 30px ; color: #000307">n</p>
        &nbsp;
        <p style="font-size: 30px ; color: #000307">u</p>
        <p style="font-size: 30px ; color: #000307">p</p>
      </div>
      <div class="ttl">
        <h2 style="opacity:0.7">Create your Account</h2>
        
      </div>
    
      <form>
        <div class="form-group rw">
            <mat-form-field appearance="outline" class="form-field rw1" >
                <mat-label>Name</mat-label>
                <input matInput type="text" placeholder="First Name" >
                <mat-error>First name is required</mat-error>
            </mat-form-field>
           
             
           
        </div>
    
        <div class="form-group rw">
          <mat-form-field appearance="outline" class="form-field rw1">
              <mat-label>Email address</mat-label>
              <input matInput type="email" placeholder="@gmail.com" style="color: grey;">
              <!-- <mat-hint>You can use letters, numbers & periods</mat-hint> -->
              <mat-error>mail is reqiured</mat-error>
          </mat-form-field>
        </div>
    
        
        <div class="form-group rw"  >
          <mat-form-field appearance="outline" class="form-field rw1" >
              <mat-label>Password</mat-label>
              <input matInput  placeholder="Password" >
            
              <mat-error>Password is required</mat-error>
          </mat-form-field>
          
         
      </div>
      <br>
      <mat-slide-toggle class="form-group uy">I agree to the Terms and Privacy.</mat-slide-toggle>
          <!-- <p class="form-group uy">Use 8 or more characters  of letters, numbers &symbols</p> -->
    
     
    
      <div class="form-group uyy">
    
  <button mat-flat-button color="primary">Register</button>
  
        <br>
      </div>
    
      <div class="form-group buttons bot hh">
        Have an account?<a mat-button class="btn-basic a" color="primary" routerLink="/login">Sign In!</a>
        <!-- <button mat-raised-button type="submit" class="btn-primary b" color="primary">Next</button> -->
    </div>
    </form>
        
    
    
      
    
    