<div class="ToolBar">
    <div class="DataInput">
        <img src="../../../assets/search.svg" alt="" srcset="" (click)="search(dt.value)">
        <input type="text" #dt placeholder="Search" >
    </div>

    <div class="RightIconsCntainer">
        <img src="../../../assets/notifications_FILL0_wght400_GRAD0_opsz48.svg" alt="Notifications" class="BellIcon">
        <button (click)="logout()"><img src="../../../assets/account_circle_FILL0_wght400_GRAD0_opsz48.svg" alt="Account"></button>
    </div>
</div>

