<div class="container">
    <app-header></app-header>
    <p class="title">Patients</p>
    <div class="wrapper">
        <div class="table-main">
            <table class="table">
                <thead>
                    <tr class="head">
                        <th class="profileimgcol">Photo</th>
                        <th class="namecol">Name</th>
                        <th class="deptcol">Email</th>
                        <th class="deptcol">Date</th>
                        <th class="salarycol">Visit time</th>
                        <th class="datecol">Number</th>
                        <th class="datecol">Doctor</th>
                        <th class="datecol">Injury/Condition</th>
                        <th class="actionscol">ACTIONS</th>
                    </tr>
                </thead>



                <tbody *ngFor="let r of innerHTMLL">
                    <tr>
                        <td class="profileimgcol"><img src="{{r.Patient_img}}"></td>
                        <td class="namecol">{{r.Patient_name}}</td>
                        <td class="deptcol">{{r.Patient_mail}}</td>
                        <td class="deptcol">{{r.Patient_date}}</td>
                        <td class="salarycol">{{r.Patient_fromTime}}-{{r.Patient_toTime}}</td>
                        <td class="deptcol">{{r.Patient_number}}</td>
                        <td class="deptcol">{{r.Doctor_name}}</td>
                        <td class="deptcol">{{r.Patient_Injury}}</td>
                        <td class="actionscol"><img width="30" height="30" id="{{r.id}}" src="../assets/delete.png"
                                alt="delete" >
                            <img width="30" height="30" id="{{r.id}}" src="../assets/edit.png" alt="edit"
                            >
                        </td>

                    </tr>

                </tbody>



            </table>
        </div>
    </div>
</div>