<div class="maincontainer">
    <mat-card>
        <mat-card-content class="content">
            <div class="header">
                Add appointment
            </div>
            <div class="sub-header">

            </div>
            <form>
                <input type="text" placeholder="Name">
                <input type="text" placeholder="Doctor">
                <input type="text" placeholder="Email">
                <input type="text" placeholder="Date">
                <input type="text" placeholder="Password">
                <input type="text" placeholder="Number">
                <input type="text" placeholder="Injury">

                <div class="registerbtn">
                    <button>Cancel</button>
                    <button class="a">Add appointment</button>
                </div>

            </form>
        </mat-card-content>
    </mat-card>
</div>