<div class="maincontainer">
  <mat-card>
      <mat-card-content class="content">
          <div class="header">
              Login form
          </div>
          <div class="sub-header">
              Login to access your Account
          </div>
          <form>
              <input type="text" placeholder="Login">
              <input type="text" placeholder="Password">
              <mat-slide-toggle color="primary" class="toggle-switch">Remember me</mat-slide-toggle>
              <div class="loginbtn">
                  <button>
                      <img src="../../../assets/login.png">
                      Login
                  </button>
              </div>
              <div class="forgotpass">
                  <a href="">Forgot password?</a>
              </div>
              <div class="signup">
                  Dont have an account?
                  <a routerLink="/signup">Sign up!</a>
              </div>
          </form>
      </mat-card-content>
  </mat-card>
</div>
