<div class="maincontainer">
  <mat-card>
      <mat-card-content class="content">
          <div class="header">
              Login form
          </div>
          <div class="sub-header">
              Login to access your Account
          </div>
          <form [formGroup]="registerForm" (ngSubmit)="login()">
            <mat-form-field  appearance="outline" class="form-field">
                <mat-label>Email address</mat-label>
                <input  matInput type="text" placeholder="Email address"  formControlName="email">
                <mat-error>email is required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input  matInput type="password" placeholder="Password" formControlName="password">
                <mat-error>password is required</mat-error>
            </mat-form-field>

              <mat-slide-toggle color="primary" class="toggle-switch">Remember me</mat-slide-toggle>
              <div class="loginbtn">
                  <button>
                      <img src="../../../assets/login.png">
                      Login
                  </button>
              </div>
              <div class="forgotpass">
                  <a href="">Forgot password?</a>
              </div>
              <div class="signup">
                  Dont have an account?
                  <a routerLink="/signup">Sign up!</a>
              </div>
          </form>
      </mat-card-content>
  </mat-card>
</div>
