<div class="container">
    <div class="ToolBar">
        <div class="DataInput">
            <input type="text" placeholder="Search">
        </div>

        <div class="RightIconsCntainer">
            <img src="../../../assets/notifications_FILL0_wght400_GRAD0_opsz48.svg" alt="Notifications"
                class="BellIcon">
            <img src="../../../assets/account_circle_FILL0_wght400_GRAD0_opsz48.svg" alt="Account">
        </div>
    </div>
    <p class="title">Appointments</p>
    <div class="wrapper">
        <div class="table-main" >
            <table  class="table" >
                <thead>
                    <tr class="head" >
                        <th class="profileimgcol">Photo</th>
                        <th class="namecol">Name</th>
                        <th class="deptcol">Email</th>
                        <th class="deptcol">Date</th>
                        <th class="salarycol">Visit time</th>
                        <th class="datecol">Number</th>
                        <th class="datecol">Doctor</th>
                        <th class="datecol">Injury/Condition</th>
                        <th class="actionscol">ACTIONS</th>
                    </tr>
                </thead>

                
                    
                    <tbody [innerHTML]="this.innerHTMLL">

                    </tbody>
                
           

            </table>
        </div>
    </div>
</div>